*{
    margin: 0px;
    padding: 0px;
}
body{
    text-align: center;
}
.wrapper{
    /*width: 1170px;*/
    margin: 0 auto;
}
header{
    height: 100px;
    background: #262626;
    width: 100%;
    /*z-index: 12;*/
    position: fixed;
    display: none;
}
.logo{
    width :40%;
    float: left;
    line-height: 100px;
}
.logo a{
    text-decoration: none;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(111, 156, 240) ;
    letter-spacing: 5px;
}
nav{
    width: 30%;
    float: right;
    line-height:  100px;
}
nav a{
    text-decoration: none;
    font-family: fantasy;
    letter-spacing: 2px;
    font-size: 20px;
    margin: px;
    color:darkcyan;
}
.banner-area{
    width: 100%;
    height: 500px;
    position: fixed;
    top: 100px;
    background-image: url(https://wallpapercave.com/wp/aKfUgdb.jpg);
    background-size: cover;
    background-position: center center;
    display: none;
}
.banner-area h2{
    padding-top: 12%;
    font-size: 70px;
    font-family:'Courier New', Courier, monospace;
    text-transform: uppercase;
    color:rgb(15, 163, 64);
}
.content-area{
    width: 100%;
    position: relative;
    top: 450px;
    background: #ddd;
    height: 650px;
    display: none;
}
.content-area h3{
    padding-top: 20px;
}
.content-area h2{
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 4px;
    padding-top: 30px;
    font-size: 40px;
    margin: 0;
}
.content-area p{
    padding: 2%;
    font-family: fantasy;
    line-height: 30px;
    font-size: 12px;
}
.loader{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #16191e;
    position: absolute;
}
.loader>div{
    height: 100px;
    width: 100px;
    border: 15px solid #45474b;
    border-top-color: blue;
    position:absolute;
    margin: auto;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    border-radius:50%;
    animation:spin 1.5s infinite linear;
}
@keyframes spin{
    100%{
        transform:rotate(360deg);
    }
}